.App {
  width: 75%;
  margin: auto;
}

/* .modal-title-containner {
  display: flex;
} */

p {
  display: inline;
  margin-right: 170px;
}

.popup-container {
  display: flex;
  flex-direction: column;
}

.close-button {
  cursor: pointer;
}